h1 {
    display: flex;
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    color: black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid img {
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 0;
}

.grid_left_sous_titre {
    text-transform: uppercase;
    padding: 20px 0;
    color: black;
}

.grid_left_presentation {
    text-align: justify;
    font-size: 14px;
    color: black;
    padding: 20px;
    margin: 0 0 30px 0;
}

.hero_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Media Queries pour desktop*/
@media screen and (min-width:820px) {

    .hero_item {
        flex: 1, 0, 50%;
    }

    .hero_item right {
        order: 1;
    }

    .hero_item left {
        order: 2;
    }

    .grid img {
        border-radius: 25%;
    }

    .footer .container p {
        font-size: 1em;
        color: black;
        text-align: center;
    }
}

/*Media Queries pour tablettes*/
@media screen and (max-width:819px) {

    .grid {
        display: flex;
        flex-direction: column;
    }

    .hero_item {
        flex: 1, 0, 50%;
    }

    .hero_item.right {
        order: 1;
    }

    .hero_item.left {
        order: 2;
    }

    .hero img {
        min-width: 350px;
    }

    .grid {
        color: black;
    }
}

/*Media Queries pour mobiles*/
@media screen and (max-width:499px) {
    .grid {
        display: flex;
        flex-direction: column;
    }

    .hero_item {
        flex: 1, 0, 50%;
    }

    .hero_item.right {
        order: 1;
    }

    .hero_item.left {
        order: 2;
    }
}