/* Ceci est un commentaire*/
* {
    margin: 0;
    box-sizing: border-box;
}

html {
    color: black;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #fff2de;
}

body {
    line-height: 1.5;
}

header {
    background-color: white;
    border-bottom: 1px solid #808080;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

/*Pour réduire la taille du logo*/
header img,
footer img {
    width: 100px;
}

/*Pour réduire la taille des icones*/
.reseaux img {
    width: 40px;
    padding: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    background-color: #c26040;
}

img {
    max-width: 100%;
    height: auto;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

main .container {
    padding: 0 50px;
    margin: 0 10px;
}

.logo {
    width: 75px;
}

.header li {
    display: inline-flex;
    align-items: center;
    padding: 0 5px;
}

.header a {
    color: black;
}

.burger {
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
}

.burger .barre {
    display: block;
    width: 30px;
    height: 5px;
    background: black;
}

.burger .barre::before {
    display: block;
    content: "";
    width: 30px;
    height: 5px;
    background: black;
    position: absolute;
    transform: translateY(-10px);
}

.burger .barre::after {
    display: block;
    content: "";
    width: 30px;
    height: 5px;
    background: black;
    position: absolute;
    transform: translateY(10px);
}

.burger {
    display: none;
}

.reseaux {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    display: flex;
    text-align: center;
    padding: 20px 0;
    font-size: 35px;
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
    line-height: 1;
}

h2,
.h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    padding: 20px;
    margin: 10px auto 40px;
    background-color: #c26040;
    color: black;
    border: 2px solid black;
    border-radius: 20px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3,
.h3 {
    font-size: 1rem;
    padding: 5px auto;
    margin: 10px auto;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid img {
    width: 100%;
    max-width: 450px;
    height: auto;
    padding: 0;
}

.grid_left_sous_titre {
    text-transform: uppercase;
    padding: 20px 0;
    color: black;
}

.grid_left_presentation {
    text-align: justify;
    font-size: 14px;
    color: black;
    padding: 20px;
    margin: 0 0 30px 0;
}

.hero_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    text-align: justify;
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}

.sous_titre {
    font-size: 1em;
    padding: 10px 0;
    margin: 20px 0;
    text-justify: auto;
}

/* MES SERVICES */
.services .icone {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50px;
    height: 50px;
    border: 2px solid #c26040;
    border-radius: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
}

.grid_left,
.grid_right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0 50%;
    padding: 10px;
}

.srvc {
    max-width: 467px;
    max-height: 155px;
    margin: 10px;
}

.srvc h3 {
    justify-content: center;
    padding-top: 5px;
}

.srvc_text {
    justify-content: center;
    padding: 0;
    margin: 0;
}

/* MES COMPETENCES */
.skills li {
    background-color: white;
    border-left: 5px solid #c26040;
    padding: 5px 10px;
    margin: 5px 10px;
}

.skills .progressbar {
    background: white;
    color: white;
    margin-bottom: 10px;
    width: 100%;
}

.skills .bar {
    background: #c26040;
    padding: 10px;
}

/* PORTFOLIO */
.portfolio .grid {
    grid: none;
}

.grid_filter a {
    color: white;
    background: #c26040;
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 10px;
    margin: 10px;
}

.grid_filter a:hover {
    cursor: pointer;
    background-color: RGBA(0, 0, 0, 0.5);
}

.grid_filter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 100%;
    margin: 10px auto;
}

.grid_item {
    padding: 10px 0;
}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
    margin: 0 0;
}

.card {
    text-transform: uppercase;
    padding: 0 5px;
    margin: 0 5px;
    position: relative;
}

.card_inner {
    padding: 20px;
}

.card h3 {
    padding: 0 0 20px;
    margin: 0;
}

.card_overlay {
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    width: 97.5%;
    height: 100%;
    display: none;
}

.card_overlay a {
    font-size: 45px;
    color: white;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.cat {
    display: flex;
    justify-content: center;
    color: #5b6c78;
    padding: 0;
    margin: 0;
}

.sous_titre {
    padding: 10px 50px;
}



.dev_web {
    font-size: 15px;
}

.hero_item {
    flex: 1, 0, 50%;
}

.hero_item right {
    order: 1;
}

.hero_item left {
    order: 2;
}

.grid img {
    border-radius: 25%;
}

.burger {
    display: none;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
    padding: 10px;
    margin: 10px auto 50px;
    background-color: #c26040;
    color: white;
    border: 2px solid black;
    border-radius: 20px;
}

h2 {
    font-size: 22px;
    border: 2px solid #c26040;
    border-radius: 5px;
    background: white;
}

h4 {
    color: black;
}

.category {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 100%;
}

.container_one {

    color: white;
    margin: 0 10px 0 50px;
}

.container_one ul {
    padding: 20px auto;
    margin: 20px auto;
    background: #c26040;
}

.container_one {
    background: #c26040;
    color: black;
}

.container_one h4 {
    color: white;
}

.photo {
    width: 100%;
    background: #c26040;
    border-radius: 5px;
    margin-bottom: 5px;
    outline: auto;
}

.container_two {
    margin: 0 50px 0 10px;
    grid-column: 2 / 4;
}

.container_two li {
    margin-bottom: 20px;
}

.formation {
    margin-bottom: 20px;
}

.item {
    margin: 10px 50px;
    border: 1px solid #c26040;
    border-radius: 10px;
}

label {
    color: black;
}

.form {
    max-width: 800px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.form input,
.form textarea {
    display: block;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    outline: auto;
}

.form textarea {
    min-height: 200px;
}

form .bouton {
    background: #c26040;
    color: #fff2de;
    width: 150px;
    margin: 50px auto;
    border: none;
}

form .bouton:hover {
    cursor: pointer;
    background-color: RGBA(0, 0, 0, 0.5);
}

footer {
    background-color: white;
    border-top: 1px solid #808080;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

footer p {
    margin: auto;
}

footer .mentions {
    font-size: 1em;
    color: grey;
}

.footer img {
    min-width: 30px;
}

.footer .container p {
    font-size: 1em;
    color: black;
    text-align: center;
}

/*Media Queries pour desktop*/
@media screen and (min-width:820px) {
    .container_one h4 {
        color: #fff2de;
    }

    .footer .container p {
        font-size: 1em;
        color: black;
        text-align: center;
    }
}

/*Media Queries pour tablettes*/
@media screen and (max-width:819px) {

    main {
        margin: 10px 20px;
    }

    h1 {
        display: flex;
        text-align: center;
        font-size: 2rem;
        margin-top: 20px;
    }

    .container_one {
        background: #c26040;
        color: black;
    }

    .container_one h4 {
        color: white;
    }

    .container_two {
        text-align: justify;
    }

    .item {
        margin-left: 50px;
        margin-right: 50px;
        border: 1px solid #c26040;
        border-radius: 10px;
    }

    form .bouton {
        background-color: maroon;
        border: black;
        color: white;
    }

    h2 {
        color: white;
    }

    .footer .container p {
        font-size: 1em;
        color: gray;
        text-align: center;
    }
}

/*Media Queries pour mobiles*/
@media screen and (max-width:499px) {
    main {
        margin: 0 10px;
    }

    h1 {
        font-size: 1.5em;
        text-align: center;
        margin-bottom: 30px;
    }

    h4 {
        color: gray;
    }

    .category {
        display: block;
        max-width: 100%;
        justify-content: center;
    }

    .container_one,
    .container_two {
        display: flex;

    }

    .container_one {
        display: none;
        order: 2;
    }

    .container_two {
        order: 1;
        margin: 0 20px;
    }

    .formation h3,
    .certification h3 {
        text-align: center;
        margin-bottom: 5px;
    }

    .item {
        margin: 0 20px 10px;
        border: 1px solid #c26040;
        border-radius: 10px;
    }

    form .bouton {
        background-color: #c26040;
        color: white;
    }
}

/*Media Queries pour tablettes*/
@media screen and (max-width:819px) {


    html {
        background: rgb(186, 196, 206);
        color: black;
    }

    header .container {
        padding: 0;
    }

    footer .container {
        padding: 0;
    }

    footer .mentions {
        font-size: 0.8em;
        color: grey;
        text-align: center;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .hero_item {
        flex: 1, 0, 50%;
    }

    .hero_item.right {
        order: 1;
    }

    .hero_item.left {
        order: 2;
    }

    .hero img {
        min-width: 350px;
    }

    .grid {
        color: black;
    }

    h2 {
        display: flex;
        text-align: center;
        font-size: 2rem;
        margin-top: 20px;
    }

    h3 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    main .container {
        padding: 0 10px;
    }

    .srvc {
        padding: 20px;
        margin: 20px;
    }

    .skills .container .grid {
        display: block;

    }

    .portfolio h2 {
        margin: 20px 0;
    }

    .portfolio .sous_titre {
        margin: 0;
    }

    .footer .container p {
        font-size: 1em;
        color: gray;
        text-align: center;
    }
}


/*Media Queries pour mobiles*/
@media screen and (max-width:499px) {
    .header {
        position: sticky;
        top: 0;
    }

    h2 {
        display: flex;
        text-align: center;
        margin: 20px auto;
    }

    h3 {
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 30px;
    }

    p {
        display: flex;
        flex-wrap: wrap;
        text-align: justify;
    }

    /* MES SERVICES */
    img.icone {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .grid {
        display: block;
    }

    .grid_left,
    .grid_right {
        display: block;
        width: 100%;
    }

    .srvc {
        width: 100%;
        height: 100%;
        padding-top: 5px;
        margin: 5px auto;
    }

    .srvc h3 {
        padding: 5px auto;
        margin: 0;
    }

    .srvc p {
        padding: 0;
        margin: 0;
    }

    /* MES COMPETENCES */
    .skills li {
        background-color: #fff2de;
        border-left: 5px solid #c26040;
        padding: 5px 10px;
        margin: 5px 10px;
    }

    .skills p {
        padding-top: 10px;
    }

    .skills .progressbar {
        background: #fff2de;
    }

    /* PORTFOLIO */
    .portfolio .sous_titre {
        margin: 10px 0;
    }

    .grid_filter {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        max-width: 100%;
        margin: 0;
    }

    .grid_item {
        padding: 5px;
        margin: auto;
    }

    .grid_item a {
        color: black;
        background: #fff2de;
        display: flex;
        flex: 1;
        justify-content: center;
        padding: 10px;
        margin-bottom: 10px;
    }

    .dev_web {
        font-size: 14px;
    }

    .category {
        display: block;
        max-width: 100%;
        margin: 10px auto;
    }

    .grid {
        display: flex;
        flex-direction: column;
    }

    .hero_item {
        flex: 1, 0, 50%;
    }

    .hero_item.right {
        order: 1;
    }

    .hero_item.left {
        order: 2;
    }

    nav {
        display: none;
    }

    html {
        background: none;
    }

    .header .container {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container {
        margin: 0 10px;
        padding: 0 10px;
        background-color: white;
        color: black;
    }

    .burger {
        display: flex;
        align-items: center;
        margin-left: 1rem;
    }

    .header img {
        width: 40px;
    }

    header .logo {
        width: 50px;
    }

    .header .logo {
        width: 50px;
    }

    .container .logo {
        width: 50px;
    }

    footer .mentions {
        font-size: 0.7em;
    }

    .footer img {
        width: 30px;
    }

}