# Fichiers à la racine : seuls les utilisateurs peuvent modifier
* @ran1mns @ZouAir

# Dossiers utilisateurs : chaque utilisateur est propriétaire de son dossier
/Edwin/ @WinnyKing57
/Adrien/ @AdiH18
/Khaled/ @Khaled-27
/Paul/ @Paul69911040
/Gregory/ @Ghartmann01
/Zouhair/ @ZouAir
/Kevin/ @GuenSama
/Quentin/ @QUenTIN-hub-fr
/Florian/ @PhotomProjects


