# Fichiers à la racine : seuls utilisateur1 et utilisateur2 peuvent modifier
* @ran1mns @AdiH18 

# Dossiers utilisateurs : chaque utilisateur est propriétaire de son dossier
/Edwin/ @WinnyKing57
/Adrien/ @AdiH18
/Naima/ @naima-be
/Khaled/ @Khaled-27

