html, body {
    font-family: Arial, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../images/font.png");
    background-attachment: fixed;

}

html body::before {
    content: "";
    position: fixed;
    inset: 0;
    background:
    linear-gradient(to bottom, var(--bg-overlay), var(--bg-overlay)),
    var(--bg-image) center/cover no-repeat;
    z-index: -2;
}

html body::after {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1px);
    z-index: -1;
    pointer-events: none;
}

.content {
    position: relative;
    padding: 10px;
    width: 900px;
    margin: 10px auto;
    text-align: center;
	float: left;
    width: 50%;
	padding : 0 10xp;
	box-sizing: border-box;
}

footer {margin-top: auto;}
.footer-copy { font-size: 1.4rem; margin: 0.2rem 0;}

img.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
}

.content2 {
    text-align: center;
    width: 900px;
    margin: auto;
    list-style: none;
	float: left;
    width: 50%;
	padding : 0 10xp;
	box-sizing: border-box;
}

li {
    display: inline-block;
    

}

nav li a {
    margin-inline: 50px;
}

ul li {
    display: inline-block;
    margin-inline: 5px;
}

a {
    background-color: rgb(160, 146, 118,0.3);
    display: inline-block;
    padding: 10px;
    width: 85px;
    text-decoration: none ;
    color: black;
    font-weight: bold ;
    border: 2px solid rgb(160, 146, 118);
    
}
a:hover {
    background-color: black;
    color: white;
    border-color: rgb(160, 146, 118,);
}
a:focus {
    outline: 5px solid red;
}


@media screen and (max-width: 400px) {
    .content2 {
        width: 400px;
    
    }
    .content {
        width: 400px;
    }
    html body {
        background-attachment: fixed;
    }
    

}