header > div.container{
    display: flex;
    align-items: center;
}
header > div.container > div:first-child{
    width: 100px;
}
header .logo{
    max-width: 100%;
}
main .hero{
    background-color: rgb(31, 112, 112);
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    padding: 50px 0;
    
}