body{
    background-color: #6f7478;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400 ;
    font-style: normal;
    color: #1e1f20;
}

nav ul {
    list-style-type: none;
    text-align:right;
    background-color:#4f5356;
}

nav ul li{
    display: inline-block;
    position: relative;
    z-index: 1000; 
}

nav ul li ul li{
    display: block;
}

nav ul li a{
    display:block;
    text-decoration: none;
    background-color:#4f5356;
    color:white;
    padding:10px 18px;
    text-align: left;
}

nav ul li ul {
    display:none;
    list-style-type: none;
    position: absolute;
    top:100%;
    left:0;
    padding: 0;
}

nav ul li:hover ul {
    display: block;
    text-align: center;
}

nav a:hover{
    background-color:#929a9f;
}

h1{
    text-align: center;
}
p{
    padding: 10px;
}

.liencontact{
    display: block;
    border: 1px solid rgb(57, 57, 57);
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color:white;
    background-color: #4f5356;
    width: fit-content;
    margin: 0 auto;
    
}

.liencontact:hover{
    background-color: #929a9f;
}

.container{
    display: flex;
    gap: 20px;
}

.text{
    flex: 1;
    text-align: justify;
    margin: 5px;
}

.image{
    flex:1;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    text-align: center;
    align-content: center;       
    line-height: 0;           
    position: relative;
    margin: 5px;
}  

.avatar{
    border-radius: 50%;
    width:75%;
    display: inline-block;
    vertical-align: middle;
}