/* Réinitialisation des styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#1e3a8a, #9333ea, #be185d) no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /* Permet au main de prendre toute la hauteur disponible */
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 20px 0;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header>div img {
    max-width: 100%;
    height: auto;
    max-height: 350px;
    border: 10px double black;
}

header>div:nth-of-type(2) {
    display: inline;
    top: 50px;
    left: 50px;
    position: absolute;
}

header>div:nth-of-type(2) button {
    font-size: 70px;
    background-color: #1e3b8a00;
    border-color: #1e3b8a00;
}

header>div:nth-of-type(2) button:hover {
    font-size: 80px;
    background-color: #ffffff;
    border-color: #ffffff;
}

footer {
    width: 100%;
    background: #1e3a8a;
    padding: 15px 0;
    text-align: center;
}

footer a {
    color: white;
    font-size: 1.25rem;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}