body {
    margin: 0;
}

header {
    background: linear-gradient(blue, rgb(207, 0, 180));
    display: flex;
    justify-content: center;
    height: 50px;
}

nav a {
    color: white;

}

nav {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-size: 25px;
    gap: 30px;
}

h1 {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}