body {
    margin: 0;
}

header {
    background: linear-gradient(blue, rgb(207, 0, 180));
    display: flex;
    justify-content: center;
    height: 50px;
}

nav a {
    color: white;
    padding: 15px;

}

nav {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1 {
    display: flex;
    align-content: flex-end;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

button {
    background: linear-gradient(blue, rgb(207, 0, 180));
    font-size: 15px;
    border: white groove 2px;
    font-size: 20px;

}

img {
    width: 50px;
    /* Largeur souhaitée */
    height: auto;
    /* Pour conserver les proportions */
}